
*{
    margin: 0%;
    padding:0%;

}

/*HEADER*/
header{    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
      height: 100vh; /* Colocar el nav */
}

h1{
    font-family: 'Delius Unicase', cursive;
    width: 100%;
    height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center; 
      position: relative;
      z-index: 0;
      background-image: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      );
      
}

.div-video { 
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh; 
    z-index: -10;
    visibility: visible;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video {
    height: 100%;
    margin: 0 auto;
    max-width: 100%;
}

/*NAV*/

.navigation-mv {
    display:none;
}

.ham-nav {
    display: none;
}

.menu{
    border-top: 0.07em  solid rgba(0, 0, 0, 0.432);
    border-bottom: 0.07em  solid rgba(0, 0, 0, 0.432);
    
}
    .menu ul{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
    .menu ul li {
        display: inline;
        margin: 1%;
    }
    .menu ul li a{
    text-decoration: none;
    font-family: 'Delius', cursive;
    font-weight: bold;
    letter-spacing: 1.2px;
    color:limegreen;
    }

    .hamb-nav {
        display: none;        
    }

/*ICONO DE SUBIDA*/

.up{
    background-color: inherit;
    text-decoration: none;
    margin: 0%;
    display: flex;
    justify-content: end;
    color: inherit;
    flex-direction: row-reverse;
}

.up i{
    margin-top: 2%;
    text-align: end;
    font-size:200%; 
    color: #57FF73;
}

i:hover{
    color: #2B8039;
    transform-origin: center;
    transform: scale(1.5);    
}
.up i{
    transition-property: "color";
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

/*BODY*/

main{
    margin-right:15%;
    margin-left:15%;    
    font-family: 'Delius', cursive;
}

strong {
    font-weight: inherit;
}

/*Intro*/

 div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    margin-top: 2%;
}


div div{    
    /* max-height: 20%; */
    width: 30%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

div>span{
    margin: 5%;
    font-size: 400%;
    justify-content: center;
    color: #2B8039;
    display: flex;
    justify-content: center;
    align-items: center;
}

div span img {
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parrafo-centrado {
    display: block;
    margin-top: 0;
}

.letras{
    font-size: 170%;
    font-family: 'Dosis', sans-serif;
    color:rgb(33, 253, 70);
}
#intro div p {
    text-align: center;
    margin:0;
    
}

div p span {
    margin: 0;
}

div.diferente {
    max-height:10%; 
}

/*INTRO2*/

h2{
    margin-left: 0;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.green {
    display: flex;
    color: white;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(../Assets/selva2.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
    background-position: center; 
    background-size: cover;
    justify-content: right;
    
}

.tabla-float{
    display: flex;
    margin-top: 0; 
    margin-bottom:2%; 
}

.tabla-float img.loc{
    display: flex;
    justify-items: baseline;
    max-width: width auto;
}

.loc {
    max-width: 100%;
    max-height: 100%;
    float: left;
}

.loc::after {
    content: '';
    display: block;
    clear: both;
}

table {
    border-collapse: separate;
    border-spacing: 15px;
    font-size: small;
    background-color: rgba(177, 255, 87, 0.144);
    text-align: center;
}
ul{
    list-style-type: none;
}

table caption{
    background-color: rgba(189, 247, 206, 0.747);
    color: #1b8f38;
}

div table::after {
    content: '';
    display: block;
    clear: both;
}

.parrafo-indp {
    margin-top: 5%;
    margin-bottom: 5%;
}

.img-rio {
    float: right;
    margin: 3%;
}

.img {
    max-width: 100%;
    max-height: 100%;
}

.img-rio::after {
    content: '';
    display: block;
    clear: both;
}

div.green blockquote{
    margin: 7%;
    margin-bottom: 8%;
    margin-top: 5%;
    
}

div.green h2 {
    text-align: right;
    margin: 7%;
    margin-bottom: 2%;
    
}

/*VIAJES*/

.flex{
    border: none;
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-inline-start: 5%;
}

.div-img {/* 
    height: 20vh; */
    max-width: 30%;
    margin: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin-right: 2%;
}
.flex img {
    max-width: 80%;
    filter: drop-shadow(5px 5px 10px #444);    
}

blockquote q {
    font-family: 'Indie Flower', cursive;
    font-style: italic;
    quotes: \201C \201D ;
    /* font-size:40px; */
    color:#1b8f38; 
}

.parrafo-claudia{
    
    font-size: 130%;
    display: flex;
    align-items: center; 
    align-content: flex-end;
    width: 80%;
}

#viajes h3{
    margin-top: 2%;
    margin-bottom: 1%;
}

/*MAS*/

fieldset{
    border: 1px solid #1b8f38;
    margin-bottom: 10%;
    text-align: center;
}

.contactar {
    margin: 2%
}

label {
    margin-left:2%;
}

.input-name {
    width: 20%;
}

input {
    margin:2%;
    width: 50%;
    border: none;
    border-bottom: 1px solid gray;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: rgb(229, 231, 233);
    color: #1b8f38;
}

.olvidar i {
    color: rgb(0, 0, 0);
    margin-right: 5%;
}

.olvidar a {
    color:inherit;
    color: rgba(0, 0, 0, 0.781);
    text-decoration: none;
}

.button{
    text-decoration: none;
    padding: 1%;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1b8f38;
    border-radius: 6px;
    border: 2px solid #1b8f38;
    transition-property: "color";
    transition-duration: 0.5s;
    transition-timing-function: linear;
    filter: drop-shadow(2px 2px 5px rgba(68, 68, 68, 0.541));
  }
  .button:hover{
    color: #57FF73;
    background-color: #ffffff;
    transform-origin: center;
  }

  .button.sing-up i {
    font-size: 10%;
    color: #2B8039;
}

.button {
    margin: 3%;
}

.check {
    width: 2%;
    filter: drop-shadow(2px 2px 5px rgba(68, 68, 68, 0.644));
}

.poli {
    margin: 2%;
}

legend {
    font-size:150%;
    font-weight: bold;
    padding-left: 2%;
    padding-right: 2%;
}

/*YA REGISTRADOS*/

.email {
    max-width: 100%;
}

fieldset{
    border: 1px solid #1b8f38;
    margin-bottom: 10%;
    text-align: center;
}

/*FOOTER*/

footer {
    margin-top:10%;
    max-height: 50vh;
    background-image: url(../Assets/footer-sinm.png);
    background-position: top;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
     margin: 0;
     font-family: 'Delius', cursive;
}

.footer-right {
    background-color: rgba(155, 255, 172, 0.603);
    display: block; 
    width: 30%;   
    margin: 5%;
    margin-top: 2%;
    margin-bottom: 0%;
    height: 40%;
    border: none;
}

.footer-left p{
    text-align: left;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
}
.footer-right p{
    text-align: left;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
}

.footer-left {
    background-color: rgba(155, 255, 172, 0.603);
    display: block;
    width: 30%; 
    height: 40%; 
    margin: 5%;
    margin-top: 2%;
    margin-bottom: 0%;
    border: none;
}

footer h4{
    margin: 7%;
}

/*FOOTER ASIDE*/

address{
    margin: 2%;
    text-align: center;
}

.redes {
    
    list-style-type: disc;
}

.redes ul {
    display: flex;
    justify-content: center;
    margin: 0;
}

.redes ul li{
    list-style-type: none;
    margin: 2%;
    font-size: 150%;
    margin-top: 0;
    margin-bottom: 0;
}
.redes li i {
    color: #5D8764;
}

/*MEDIA QUERY*/

@media screen and (max-width:600px){ 

    /*MAIN*/

    main{
        margin-right:7%;
        margin-left:7%; 
    }

    /*HEADER*/

    header{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            height: 55vh; /* Colocar el nav */
        }

        h1 {
            z-index: 50;
        }

    /*NAV*/
    
    .navigation{
        display: none;
    }

    .menu{
        border: none;
    }

    .hamb-nav {
        display: flex;
        flex-direction: row-reverse;
    }

    nav.hamb-nav button {
        background-color: inherit;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left: 0;
        margin-right: 5%;
        border: none;
        color: inherit;
    }

    .hamb-nav i{
        color: rgba(0, 0, 0, 0.637);
        font-size: 30px;
    }

    .button-hamb {
        font-size: 40%;
    }

    .navigation-mv {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        background-color: rgba(93, 135, 100, 0.76);
        margin-top: 10%;
    }

    .navigation-mv li {
        margin-top:5%;
        margin-bottom:0.5%;
    }

    .navigation-mv ul li a{
        text-decoration: none;
        font-family: 'Delius', cursive;
        /* color:rgb(146, 3, 3) */
        font-weight: bold;
        letter-spacing: 1.2px;
        color:#444;
    }

    /*INTRO */

    .letras{
        font-size: 140%;
        font-family: 'Dosis', sans-serif;
    }

    div>span{
        margin: 5%;
        font-size: 200%;
        justify-content: center;
        color: #2B8039;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.green h2 {
        text-align: left;
        margin-bottom: 2%;
    }

    /*VIAJES*/

    .parrafo-claudia{
        font-size: 80%;
        display: flex;
        align-items: center; 
        align-content: flex-end;
        width: 80%;
    }

    .flex {
        border: none;
        display: flex;
        justify-content:space-between;
        flex-wrap: nowrap;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-inline-start: 5%;
    }
    
    .div-img {
        max-width: 40%;
        margin: 0;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-content: space-around;
        margin-right: 2%;
    }
    .flex img {
        max-width: 80%;
        filter: drop-shadow(5px 5px 10px #444);
    }

    #viajes h3{
        margin-top: 7%;
        margin-bottom: 1%;
    }
    
    /*MAS*/
    
    .input-name {
        width: 50%;
    }
    
    input {
        margin:2%;
        width: 50%;
        border: none;
        border-bottom: 1px solid gray;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background: rgb(229, 231, 233);
        color: #1b8f38;
    }
    /*FOOTER*/
    footer {
        margin-top:10%;
        max-height: 70vh;
        background-image: url(../Assets/footer-sinm.png);
        background-position: top;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
         margin: 0;
         font-family: 'Delius', cursive;
    }

}

@media screen and (max-width: 500px) {

    header {
        height: 40vh;
    }
}

@media screen and (max-width:670px){ 

    label {
        margin-left:2%;
        display: flex;
        align-content: flex-start;
        justify-content: center;
    
    }
    
    .input-name {
        width: 50%;
    }
    
    input {
        margin:2%;
        width: 50%;
        border: none;
        border-bottom: 1px solid gray;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background: rgb(229, 231, 233);
        color: #1b8f38;
    }

    .check {
        margin: 0;
        width: 5%;
    }

    .agree {
        display:inline;
    }
 header{
        height: 40vh; 
    }
}

 @media screen and (min-width:676px){ 

    header{
        height: 60vh; 
    }
}  

@media screen and (min-width:1000px){ 

    header{
        height:100vh; 
    }
}  










